{%extends 't_user/base.html'%}

{%block title%}
DINAS KEBUDAYAAN DAN PARIWISATA KOTA TIDORE KEPULAUAN
{%endblock%}

{%block kontent%}
<div class="item content">
  <div class="container toparea">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="col editContent">
          <a href=""><span class="numberstep btn-large e_wiggle">PROFIL</span></a>
          <p>
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna
            mollis
            ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          </p>
        </div>
        <!-- /.col-md-4 -->
      </div>

      <div class="col-md-4 editContent">
        <div class="col">
          <a href=""><span class="numberstep btn-large e_wiggle">VISI & MISI</span></a>



          <p>
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis
            ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          </p>
        </div>
        <!-- /.col -->
      </div>

      <div class="col-md-4 editContent">
        <div class="col">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1732.4410937585294!2d127.44825295548623!3d0.665105163579049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x329cc8b79f88dbbf%3A0x3b69358418b9bbf1!2sKantor%20Dinas%20Kebudayaan%20Dan%20Pariwisata%20Pemerintah%20Kota%20Tidore%20Kepulauan!5e1!3m2!1sid!2sid!4v1624414820365!5m2!1sid!2sid"
            width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.col-md-4 col -->

    </div>
  </div>
</div>
{%endblock%}
