{%extends 't_user/index.html'%}

{%block title%}
DINAS KEBUDAYAAN DAN PARIWISATA KOTA TIDORE KEPULAUAN
{%endblock%}

{%block kontent%}
<div class="item content">
  <div class="container toparea">
    <div class="row text-center">
      <div class="col-md-6">
        <div class="col editContent">
          <a href=""><span class="numberstep btn-large e_wiggle">PROFIL</span></a>
          <p>
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna
            mollis
            ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          </p>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.col-md-4 col -->
      <div class="col-md-6 editContent">
        <div class="col">
          <a href=""><span class="numberstep btn-large e_wiggle">VISI & MISI</span></a>



          <p>
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis
            ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          </p>
        </div>
        <!-- /.col -->
      </div>
    </div>
  </div>
</div>
{%endblock%}