{%extends 't_user/product.html'%}

{%block title%}
KETERANGAN SELEGKAPNYA WISATA
{%endblock%}

{%block titlee%}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="text-homeimag">
        <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s">
          Wisata Alam
        </div>
        <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.3s">
          <h4 class="text-uppercase"></h4>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block nama%}
{{dt.nama_wisata}}
{%endblock%}

{%block ket%}
<!-- <div class="jumbotron"> -->
<div class="text-justify">
  <!-- <h4 class="text-uppercase">{{dt.nama_wisata}}</h4> -->
  <p>{{dt.keterangan | safe}}</p>
  <!-- <script type="text/javascript">CKEDITOR.replace('editor')</script> -->
  <!-- <p>{{dt.lokasi}}</p> -->

</div>
<!-- </div> -->
{%endblock%}
{%block gambar%}
<img src="{{ url_for ('static', filename='css layout/images/' + dt.gambar)}}"
  data-scrollreveal="enter top over 1.5s after 0.1s" alt="" width="330" height="200">
{%endblock%}