{%extends 't_user/base_pilihan.html'%}

{%block title%}
SEJARAH
{%endblock%}

{%block judul%}
<h1 class="text-center latestitems">LIST ITEMS SEJARAH </h1>
{%endblock%}

{%block pilihan%}

{%for dt in form%}
<div class="col-md-4" data-scrollreveal="enter top over 1.5s after 0.1s">
  <div class="productbox">
    <div class="fadeshop">
      <div class="captionshop text-center" style="display: none;">
        <h3>{{dt.nama}}</h3>
        <p>
          Klik untuk melihat informasi lebih lengkap
        </p>
        <p>
          <!-- <a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a> -->
          <a href="{{url_for('guser.keterangansejarah', ed_id=dt.id)}}" class="learn-more detailslearn"><i
              class="fa fa-link"></i> Details</a>
        </p>
      </div>
      <span class="maxproduct"><img src="{{ url_for ('static', filename='css layout/images/' + dt.gambar)}}" alt=""
          width="420" height="230"></span>
    </div>
    <div class="product-details">
      <a href="#">
        <h1>{{dt.nama}}</h1>
      </a>
    </div>
  </div>
</div>
{%endfor%}

{%endblock%}